/Users/abelv/Python_Exercises/Desafio_Programacion_Python/CONTRIBUTING.md
/Users/abelv/Python_Exercises/Desafio_Programacion_Python/LICENSE
/Users/abelv/Python_Exercises/Desafio_Programacion_Python/NOTICE
/Users/abelv/Python_Exercises/Desafio_Programacion_Python/README.md
*/.DS_Store